/* index */
* {
    font-family: 'Sawarabi Gothic', sans-serif;
    padding: 0;
    margin: 0;
}

.dropdown {
    padding: 3rem;
    height: 10vh;
    width: 200px;
    text-align: center;
}

.dropbtn {
    background: #0abde3;
    padding: 0.5rem 2rem;
    display: inline-block;
    text-decoration: none;
    color: #0abde3;
}

.drp-btn {
    border: none;
    vertical-align: center;
    color: white;
    cursor: pointer;
    margin-top: 0.5rem;
}

.drp-btn:hover {
    background: #48dbfb;
}

.dropdown-content-btn span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #0abde3;
    border-radius: 3px;
    z-index: 1;
}

.dropdown .dropdown-content-btn {
    padding: 0.5rem 1rem;
    margin-top: 0.1rem;
    margin-left: 0.1rem;
    width: 69px;
    height: 46px;
    margin: auto;
}

.dropdown .dropdown-content {
    display: inline-block;
    text-decoration: none;
    width: 100px;
    height: 50px;
    font-size: 1.5rem;
    border: 2px solid #0abde3;
    color: #0abde3;
    font-weight: bold;
    margin: auto;
    padding: 0.5rem 0 0 0;
    display: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content:hover {
    background-color: #48dbfb;
    color: white;
    font-weight: bolder;
}

.drop-first {
    display: flex;
    flex-direction: row;
}

.drop-second {
    display: flex;
    flex-direction: row;
}

.title {
    text-align: center;

}

.first {
    font-size: 2rem;
    color: gray;
}

.second {
    font-size: 4rem;
    color: gray;
}

.des-container {
    border: 10px solid yellow;
    padding: 3rem;
    width: 80%;
    margin: auto;
    position: relative;
}

#dog {
    position: absolute;
    top: -15%;
    right: 5%;
    width: 250px;
}

#milk {
    position: absolute;
    bottom: 0%;
    left: -10%;
    width: 200px;
}

#operate {
    position: absolute;
    bottom: 5%;
    right: 30%;
    width: 280px;
}

#s-operate {
    position: absolute;
    bottom: 5%;
    right: 10%;
    width: 200px;
}

.des-container p {
    font-size: 1.5rem;
    color: gray;
}

.des-container .first-p {
    width: 70%;
}

.des-container .second-p {
    width: 80%;
}

.sixth-p {
    position: absolute;
    bottom: -3%;
    right: 0;
}

.operate-left {
    margin: 2rem 0 0 10rem;
    width: 220px;
}

.operate-border {
    border-bottom: 2px solid black;
}

/* signup */

#addBtn {
    color: white;
    background: #0abde3;
    border: none;
    border-radius: 30px;
    padding: 0.5rem;
    width: 100px;
    font-size: 1rem;
    cursor: pointer;
}

#addBtn:focus {
    outline: none;
}

#addBtn:active {
    background: #2980b9;
}

#addBtn:hover {
    background: #48dbfb;
}

#main button {
    margin-top: 2rem;
}

#success {
    display: none;
}

#upload-file {
    width: 300px;
    height: 300px;
}

#upload-file img {
    margin: 1rem;
}

#img {
    margin: 1rem;
    width: 50%;
}

.input-data {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.user-data {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
}

#addBtn-container {
    text-align: right;
    margin-right: 10%;
}

form input {
    width: 40px;
    border: none;
    border-bottom: 1px solid black;
}

#name {
    width: 100px;
}

#email {
    width: 280px;
}

#success {
    font-size: 3rem;
    font-weight: bolder;
    color: gray;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Index */

.slick-slide {
    text-align: center;
    margin: auto;
}

.slick-slide div {
    color: gray;
    font-weight: bold;
}

.slick-slide .old {
    font-size: 2rem;
}

.rail-container {
    height: 15vh;
    width: 100%;
    background: #0abde3;
    position: absolute;
    bottom: 30%;
}

.result {
    width: 80%;
    margin: auto;
    position: absolute;
    top: -60%;
}

.result div img {
    width: 250px;
    height: 250px;
    object-fit: contain;
    margin: auto;
    cursor: pointer;
}

.slick-prev,
.slick-next {
    color: black;
    position: absolute;
    top: 140%;
    border: none;
    background: #0abde3;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0.5rem 0.5rem 0.8rem 0.5rem;
    border-radius: 30px;
    width: 80px;
    cursor: pointer;
}

.slick-prev:active,
.slick-next:active {
    outline: none;
    border: none;
    background: #48dbfb;
}

.slick-prev:focus,
.slick-next:focus {
    outline: none;
}

.slick-next {
    right: 0;
}

.slick-prev {
    left: 0;
}

/* Grave */

.slick-slider {
    top: -100%;
}

.grave-date div {
    font-size: 1rem !important;
}

.grave-date {
    margin-top: 3rem;
}

.index-date {
    font-size: 1rem !important;
    display: none;
    margin-top: 3rem;
}

#frame-container {
    position: relative;
}

#image {
    position: relative;
}

.imgs-index:focus img {
    outline: 5px solid #0abde3;
}

.imgs-index:focus+.index-date {
    display: block;
}

.grave-img {
    width: 220px !important;
    height: 310px !important;
    object-fit: contain !important;
    margin: auto !important;
    cursor: pointer !important;
}

#frame {
    position: absolute;
    height: 330px;
    width: 290px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 1400px) {
    .rail-container {
        bottom: 30%;
        height: 15vh;
    }

    .result div img {
        width: 200px;
        height: 200px;
    }

    .slick-slider {
        top: -130%;
    }

    .slick-prev,
    .slick-next {
        top: 110%;
    }

    .second {
        font-size: 2.5rem;
    }

    .first {
        font-size: 1.5rem;
    }

    #dog {
        right: 0;
    }

    .fifth-p,
    .forth-p {
        margin-left: 2rem;
    }

    .grave-img {
        width: 150px !important;
        height: 200px !important;
    }

    .grave-result {
        top: -94%;
    }

    #frame {
        height: 230px;
        width: 190px;
    }
}